numpy==1.15.0
#pyqtgraph==0.10.0
openpyxl==2.5.4
scipy==1.1.0
#PyQt4==4.11.4
#PyQt5==5.11.2
intervaltree==2.1.0
librosa==0.6.1
matplotlib==2.2.2
peakutils==1.1.1
#pywt==1.0.6
scikits.talkbox==0.2.5
#skimage==0.0
scikit_learn==0.19.2
spectrum==0.7.3
xgboost==0.72.1

# MANUAL:
# pip install PyWavelets
# pip install scikit-image
# sudo apt install python-qt4
# sudo apt install libgstreamer1.0-dev - not sure??
# sudo apt install python-qt4-phonon
# pip uninstall joblib; pip install -Iv joblib=0.11.0
# pip install git+https://github.com/pyqtgraph/pyqtgraph
