## INSTALLATION:
# wget AviaNZ*.zip
# unzip AviaNZ*.zip
# sudo apt install python3-pip
# sudo apt install git
# pip install -r requirements.txt --user
# cd ext; python3 setup.py build_ext -i

click==7.0
Cython==0.29.10
jsonschema==3.1.1
librosa==0.8.0
numpy==1.16.2
openpyxl==2.5.5
pyFFTW==0.12.0
PyQt5==5.13.1
git+git://github.com/pyqtgraph/pyqtgraph@2203933#egg=pyqtgraph
scikit-image==0.15.0
scipy==1.4.1
setuptools==41.0.1
spectrum==0.7.5
tensorflow==2.3

## These dependencies are important, but should be installed by the main packages:
# joblib==0.13.2
# llvmlite==0.29.0
# matplotlib==3.1.0
# PyWavelets==1.0.3
# scikit-learn==0.21.2

## MANUAL:
## NECESSARY to install pytgraph development, 0.11.0.dev0+g9aaae8 or another version
## Hence git is required.
## For compiling binaries:
# PyInstaller==4.0

# For those without AVX2 support:
# pip install --upgrade https://github.com/fo40225/tensorflow-windows-wheel/blob/master/2.0.0/py37/CPU/sse2/tensorflow-2.0.0-cp37-cp37m-win_amd64.whl
