## INSTALLATION:
# wget AviaNZ*.zip
# unzip AviaNZ*.zip
# sudo apt install python3-pip
# sudo apt install git
# pip install -r requirements.txt --user
# cd ext; python3 setup.py build_ext -i

click==8.2.1
Cython==3.1.1
h5py==3.13.0
jsonschema==4.24.0
librosa==0.11.0
lxml==5.4.0
openpyxl==3.1.5
matplotlib==3.10.3
numba==0.61.2
numpy==2.1.3
pyFFTW==0.15.0
pyFLAC==3.0.0
pyqtgraph==0.13.7
resampy==0.4.3
scipy==1.15.3
scikit-image==0.25.2
soundfile==0.13.1
tensorflow==2.19.0
PyQt6==6.9.0

# For those without AVX2 support:
# pip install --upgrade https://github.com/fo40225/tensorflow-windows-wheel/blob/master/2.0.0/py37/CPU/sse2/tensorflow-2.0.0-cp37-cp37m-win_amd64.whl
